@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap&family=Source+Sans+Pro:wght@600&display=swap');

$primefont: "Montserrat" !important;
$whitecolor: #efefef !important;
$secondfont: "Raleway" !important;
$metafont: #7f7f7f !important;
$primeaccent: #ff9b1a !important;
$baraccent: #fb8f2c !important;
$penbg: #f26c4f !important;
$socialprime: #00aced !important;
$footerfont: #989898 !important;
$spiderred: #f05154 !important;
$spidergreen: #63cd68 !important;
$spiderblue: #77d2d6 !important;

%primebutton{
	display: block;
	font-size: 16px !important;
	color: #fff !important;
	font-weight: 600 !important;
	font-family: "Source Sans Pro" !important;
	border: 1px solid;
	background: $primeaccent;
	border-radius: 30px;
	padding: 10px 30px;
	min-width: 150px;
	text-align: center;
	border-color: $primeaccent;
	text-transform: uppercase;
	text-decoration: none;
	transition: all 0.3s;
}
%primebuttonhover{
	color: $primeaccent;
	background: transparent !important;
}
%cover-background{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
@mixin transform($property){
	transform:$property;
	-moz-transform:$property;
	-webkit-transform:$property;
	-ms-transform:$property;
	-o-transform:$property;
}


body{
	font-family: $primefont;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, {
	margin-bottom: 24px !important;
}
p{
	font-size: 14px;
	line-height: 24px;
	font-weight: 300;
	margin-bottom: 0 !important;
}
a.content{
	display: block;
	text-decoration: none;
	color: initial;
}
a{
	text-decoration: none !important;
}
.btnuser{
	@extend %primebutton;
}
.btnuser:hover{
	@extend %primebuttonhover;
}
.cube{
	width: 60px;
    height: 60px;
    display: inline-block;
    @include transform(rotate(45deg));
    border-radius: 5px;
    border: 2px solid #ff9b1a;
}
.header{
	h2{
		font-size: 24px;
		color: #2b2b2b;
		font-weight: 700;
		text-transform: uppercase;
		margin-bottom: 24px !important;
	}
	p{
		font-size: 14px;
		line-height: 23px;
		color: #6e6e6e;
		font-weight: 300;
		text-align: center;
		margin-bottom: 24px !important;
	}
}
.bar{
	width: 50px;
    background: $baraccent;
    height: 2px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 24px;
    margin-bottom: 24px;
    transition: all 5s;
}
/*topheader*/
.topheader{
	padding: 4.8px 0px;
	background: #efefef;
	a,p{
		font-size: 12px;
		line-height: 35px;
		color: $metafont;
		font-weight: 400;
		text-transform: uppercase;
	}
	.nav-link{
		padding: 0 1rem !important;
	}
	.nav-link:hover{
		color: $primeaccent;
	}
}
.navbar{
	padding: (100-50.4)/2 * 1px 0px !important;
	.navbar-brand{
		img{}
	}
	.navbar-nav{
		.nav-item{
			.nav-link{
				font-size: 14px;
				line-height: 35px;
				color: #161616;
				font-weight: 400;
				text-transform: uppercase;
				padding: 8px 17px; 
				transition: all 0.3s;
			}
			.nav-link:hover{
				color: $primeaccent;
			}
			.btnuser{
				padding: 10px 15px;
			}
		}
	}
}
/*topheader*/
.navbar-toggler{
	color: $primeaccent;
	border-color: $primeaccent;
}
/*banner1*/
.banner1{
	background-image: url(../images/banner1bg.png);
	padding: 150px 0px;
	position: relative;
	font-family: $secondfont;
	color: $whitecolor;
	@extend %cover-background;
	background-position: left;
	z-index: 2;
	img{}
	#particles-js{
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: transparent;
		z-index: -1;
		background-repeat: no-repeat;
		top: 0;
		left: 0;
	}
	.content{
		/*position: absolute;
	    right: 50%;
	    bottom: 50%;
	    @include transform(translate(50%, 50%));*/
	    h1{
	    	font-size: 52px;
	    	/*line-height: 35px;*/
	    	font-weight: 800;
	    	margin-bottom: 60px;

	    	@media(max-width: 767px){
	    		font-size: 40px;
	    	}
	    }

	   
	    h5{
	    	font-size: 20px;
	    	line-height: 35px;
	    	font-weight: 700;
	    	margin-bottom: 0 !important;
	    }
	    h6{
	    	font-size: 14px;
	    	line-height: 35px;
	    	font-weight: 700;
	    	margin-bottom: 70px;
	    }
	    .btnuser{
	    	margin: 0px 10px;
	    	color: #FFF !important;
	    	background-color: transparent !important;
	    	border-color: #FFF !important;
	    }
	    .btnuser:hover{
	    	@extend %primebutton;
	    }
	}
}
/*banner1*/
/*process*/
.slider{
	&:hover .bar {
	width: 100%; 
	}
}
/*process*/
/*services*/
.services{
	font-family: $secondfont;
	.content{
		h5{
			font-size: 18px;
			padding:24px 0px;
		}
	}
	.btnuser{
		margin:80px 0px;
	}
	&:hover .bar{
		width: 100%;
	}
}
/*services*/
/*bannersteps*/
.bannersteps{
	color: #FFF;
	font-family: $secondfont;
	background-image: url(../images/banner2bg.png);
	background-color: #2c2c2c;
	background-blend-mode: overlay;
	@extend %cover-background;
	.img-holder{
		.logo{
			position: absolute;
			right: 50%;
			bottom: 35%;
			width: 245px;
			@include transform(translate(50%, 35%));
		}
		.iphone{
			padding-top: 80px;
		}
	}
	h2{
		text-transform: uppercase;
		font-size: 24px;
		font-weight: 700;
		margin-bottom: 24px !important;
	}
	.bar{
		margin-left: 0;
	}
	h4{
		font-size: 18px;
		font-weight: 700;
	}
	P{
		font-weight: 400;
	}

	&:hover .bar{
		width: 100%;
	}
}
/*bannersteps*/
/*banneryellow*/
.banneryellow{
	font-family: $secondfont;
	background-color: #ff9b1a;
	padding: (210-130)/2 * 1px 0px;
	color: #FFF;
	text-transform: uppercase;
	h1{
		font-size: 50px;
		font-weight: 700;
	}
	h6{
		font-size: 18px;
		font-weight: 500;
	}
}
/*banneryellow*/



/*banner-spider*/

/*banner-spider*/

/*bannerexperts*/
.bannerexperts{
	padding: 40px 0px;
	a{
		transition:all 0.3s;
	}
	a:hover{
		border-radius: 10px;
		background: #ffffff;
		box-shadow:  5px 5px 10px #c9c9c9, 
		             -5px -5px 10px #ffffff;
	}
	h5{
		font-size: 18px;
		line-height: 22px;
		color: #1e1e1e;
		font-weight: 400;
		margin-top: 40px;
		margin-bottom: 10px !important;
	}
	h6{
		font-size: 14px;
		line-height: 22px;
		color: #fba057;
		font-weight: 300;
		text-transform: uppercase;
	}
	&:hover .bar{
		width: 100%;
	}
}
/*bannerexperts*/

/*consultationform*/
.consform{
	background-image: url(../images/bannerstepbg.png);
	@extend %cover-background;
	padding: 80px 0px;
	color: #FFF;
	h2{
		font-size: 26px;
		line-height: 24px;
		font-weight: 400;
		color: #FFF !important;
	}

	.form-control {
	    color: #FFF;
	    background-color: #0000;
	    border: 1px solid #FFF;
	}
	.form-control:focus {
	    color: #FFF;
	    background-color: #0000;
	    border-color: #FFF !important;
	    outline: 0;
	    box-shadow: 0 0 0 2px #FFF;
	}
	.form-control::placeholder{
		color: #FFF;
		opacity: 1;
	}
	.form-control:-ms-input-placeholder{
		color: #FFF;
	}
	.form-control::-ms-input-placeholder{
		color: #FFF;
	}
}

/*blogs*/
.blogs{
	padding: 80px 0px;
	.header{
		margin-bottom: 80px;
	}
	.content{
		border-radius: 15px;
		border: 1px solid;
		border-color: #e1e1e1;
		transition: all 0.3s;
		display: block;
		.meta{
				.col-1{
					position: relative;
					i{
						position: absolute;
						transform: translate(50%, -50%);
						color: #FFF;
						background: #f26c4f;
						padding: 15px;
						border-radius: 60px;
					}
				}
				p{
					font-size: 12px;
					color: #6e6e6e !important;
					font-weight: 300;
				}
				a:hover{
					color: $primeaccent;
				}
			}
		.content-body{
			h5{
				font-size: 16px;
				line-height: 24px;
				font-weight: 700;
			}
			p{
				margin-bottom: 24px !important;
			}
		}
	}
	.content:hover{
		color: initial;
		background: #FFF;
		box-shadow:  5px 5px 10px #c8c8c8, 
		             -5px -5px 10px #fafafa;
	}
	&:hover .bar{
		width: 100%;
	}

}
/*blogs*/

/*userfeedback*/
.userfeedback{
	.header{
		h2{}
		span{
			margin-bottom: 0;
		}
	}
	.myCarousel{
		.item{
			padding-top: 24px;
			p{}
			.imgholder{
				display: inline-block;
				position: relative;
				margin-top: 80px;
				margin-bottom: 24px;
				width: 100px;
				height: 100px;
				img{
					border-radius: 60px;
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
				i{
					position: absolute;
				    border: 3px solid #FFF;
				    background: $primeaccent;
				    color: #FFF;
				    padding: 7px;
				    font-size: 14px;
				    bottom: 0;
				    right: 0;
				    border-radius: 60px;
				}
			}
			h5{
				font-size: 18px;
				line-height: 22px;
				color: #1c1c1c;
				font-weight: 700;
			}
			h6{
				font-size: 14px;
				line-height: 22px;
				color: #fb8f2c;
				font-weight: 300;
				text-transform: uppercase;
				margin-bottom: 0 !important;
			}
		}
	}
}
/*userfeedback*/

/*footer*/
footer{
	background: #101010;
	border-top: 5px solid $primeaccent;
	padding-bottom: 80px;
	margin-top: 80px;
	ul{
		li{
			a,p{
				color: $footerfont;
				transition: all 0.3s;
				font-size: 14px;
				line-height: 25px;
				font-weight: 400;
				padding: 0px !important;
			}
			a:hover{
				color: $primeaccent;
			}
		}
		li.ftheader{
			margin-top: 80px;
			margin-bottom: 40px;
			color: #FFF;
			img{
				width: 200px;
			}
			.bar{
				margin-left: 0;
			}
		}
		.social{
			li{
				padding: 0px 10px;
			}
			a{
				display: inline-block;
				color: #3d3c3a !important;
				border: 2px solid #3d3c3a;
				background: transparent;
				border-radius: 60px;
				width: 45px;
				height: 45px;
				position: relative;
				transition: all 0.3s;
				i{
					position: absolute;
					right: 50%;
					bottom: 50%;
					@include transform(translate(50%, 50%));
				}
			}
			a:hover{
				color: #00aced !important;
				border: 2px solid #00aced;
			}
		}
	}
	.contact-address{
		.nav-item{
			margin-bottom: 30px;
		}
	}
	.input-grp{
		position: relative;
		display: inline-block;
		width: 100%;
		input[type="email"]{
			margin-top: 30px;
		    margin-top: 30px;
		    border-radius: 30px;
		    padding: 10px;
		    padding-right: 45px;
		}
		.ftbtn{
			border-radius: 60px;
			background: $primeaccent;
			position: absolute;
			right: 0;
			bottom: 0;
			color: #FFF;
			font-size: 1rem;
			padding: 11px 16px;
			border: 0;
		}
	}
}
/*footer*/

/*bottom footer*/
.bottomfooter{
	background: #000;
	padding: 10px;
	.cpy{
		font-size: 12px;
		line-height: 25px;
		color: #504e4e;
		font-weight: 400;
	}
	.nav{
		.nav-item{
			.nav-link{
				font-size: 14px;
				line-height: 35px;
				color: #737272;
				font-weight: 400;
				text-transform: uppercase;
				transition: all 0.3s;
			}
			.nav-link:hover{
				color: $primeaccent;
			}
		}
	}
}
/*bottom footer*/